{%extends 'base.html' %}

{% block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'edit_prof.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">


<link href='https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css' rel='stylesheet'>


<div class="signin">
    <div class="content">
        <h2>Update Profile</h2>
        <div class="form">
            <div class="inputBox icon-input">
                <input type="text" required placeholder="Full Name"><i style="padding-right: 15px;"
                    class="fa fa-user"></i>
            </div>
            <div class="inputBox icon-input">
                <input type="email" required placeholder="Email">
                <i style="padding-right: 15px;" class="fa fa-envelope"></i>
            </div>
            <div class="inputBox icon-input">
                <input type="text" required placeholder="Contact Number"><i style="padding-right: 15px;"
                    class="fa fa-mobile"></i>
            </div>
            <div class="inputBox row">
                <div class="col icon-input">
                    <input type="number" required placeholder="Roll Number"><i style="padding-right: 15px;"
                        class="fa fa-list-ol"></i>
                </div>
                <div class="col icon-input">
                    <input type="text" placeholder="City name" required>
                </div>
            </div>
            <div class="inputBox icon-input">
                <input type="url" required placeholder="LinkedIn URL"><i style="padding-right: 15px;"
                    class="fa-brands fa-linkedin"></i>
            </div>
            <div class="inputBox icon-input">
                <input type="url" required placeholder="Instagram URL"><i style="padding-right: 15px;"
                    class="fa-brands fa-instagram"></i>
            </div>
            <div class="inputBox icon-input">
                <input type="url" required placeholder="Twitter URL"><i style="padding-right: 15px;"
                    class="fa-brands fa-twitter"></i>
            </div>
            <div class="userbox icon-input">
                <input type="file" required>
            </div>
            <div class="inputBox">
                <input type="submit" value="Submit">
            </div>
        </div>
    </div>
</div>

{% endblock %}